[package]
name = "shopware-devenv"
version = "0.1.0"
authors = ["cyl3x <cyl3x@posteo.de>"]
edition = "2021"
repository = "https://git.cyl3x.de/cyl3x/shopware-devenv"
description = "swdc but for nix/devenv"
license-file = "LICENSE"
readme = "README.md"
keywords = ["shopware", "devenv", "swde", "platform"]
categories = ["filesystem", "development-tools"]

[[bin]]
name = "swde"
path = "src/main.rs"

[profile.release]
codegen-units = 1
debug = false
lto = "fat"
opt-level = 3
strip = "debuginfo"

[dependencies]
clap = { version = "4.1.5", features = ["derive", "suggestions"] }
regex = { version = "1.7.1", default-features = false, features = ["std"] }
nix = { version = "0.26.2", default-features = false, features = ["user"] }
spinoff = { version = "0.7.0", default-features = false, features = ["dots"] }
toml = { version = "0.7.2", default-features = false, features = ["parse"] }
serde = { version = "1.0.152", default-features = false, features = ["serde_derive"] }
sysinfo = { version = "0.27.7", default-features = false }
sha2 = { version = "0.10.6", default-features = false }
colored = "2.0.0"
serde_json = "1.0.93"
merge-struct = "0.1.0"
dirs = "4.0.0"
clap_complete = "4.1.2"
